<h1 style="text-align: center;">Editing team</h1>

<%= render 'form' %>

<div style="margin-left: auto; margin-right: auto; height: auto; text-align: center;">
<%= link_to 'Show', @team %> |
<%= link_to 'Back', teams_path %>
</div>