<%= form_for(@playerteam) do |f| %>
  <% if @playerteam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playerteam.errors.count, "error") %> prohibited this playerteam from being saved:</h2>

      <ul>
      <% @playerteam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
